[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "<3.7.0,>=3.6.0"
websockets = ">=6.0,!=8.0,!=7.0,!=8.0.1,<9.0"
youtube-dl = "*"
pynacl = "*"
pvporcupine = "*"
pydub = "*"
dialogflow = "*"
google-search-api = "*"
google-search-results = "*"
"discord.py" = {git = "https://github.com/imayhaveborkedit/discord.py"}
google-cloud-texttospeech = "*"
google-cloud-speech = "*"
simpleaudio = "*"

[requires]
python_version = "3.8"
