[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
flake8 = ">=3.8.3"
protobuf = "*"
grpcio-tools = "*"

[packages]
aiohttp = "<3.7.0,>=3.6.0"
websockets = ">=6.0,!=8.0,!=7.0,!=8.0.1,<9.0"
youtube-dl = "*"
pynacl = "*"
pvporcupine = "*"
pydub = "*"
dialogflow = "*"
google-search-api = "*"
google-search-results = "*"
google-cloud-texttospeech = "*"
google-cloud-speech = "*"
simpleaudio = "*"
parlai = "*"
coloredlogs = "*"
webrtcvad = "*"
google-cloud = "*"
google-cloud-translate = "*"
grpclib = "*"

[requires]
python_version = "3.8"

[packages.subword-nmt]
git = "https://github.com/rsennrich/subword-nmt.git"

[packages.discord]
git = "git://github.com/nikicat/discord.py"
ref = "voice-recv-nb"
