[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
flake8 = ">=3.8.3"
protobuf = "*"
grpcio-tools = "*"

[packages]
aiohttp = "<3.7.0,>=3.6.0"
websockets = ">=6.0,!=8.0,!=7.0,!=8.0.1,<9.0"
youtube-dl = "*"
pynacl = "*"
pvporcupine = "*"
simpleaudio = "*"
parlai = "*"
coloredlogs = "*"
grpclib = "*"

[packages.google-auth]
git = "git://github.com/tan01/google-auth-library-python"
ref = "user/tan01/feature/asyncio_aiohttp_support"

[packages.subword-nmt]
git = "https://github.com/rsennrich/subword-nmt.git"

[packages.discord]
git = "git://github.com/nikicat/discord.py"
ref = "voice-recv-nb"

[requires]
python_version = "3.8"
